body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: blue;
    font-size: 32px;
}

h2 {
    color: blue;
}

img {
    width: 140px;
}

p {
    text-align: left;
    font-size: 22px;
}

footer {
    text-align: center;
    font-size: 18px;
}

a {
    font-size: 20px;
    color: red;
}

a:hover {
    background-color: orange;
    color: white;
    text-decoration: none;
}
